{{define "main_content"}}
    <main id="home_page">
    <div>
    <article class="video-container">
        <video src="video/#" controls></video>
        <div class="vid-info centered-vertically">
            <h6>title</h6>
            <a href="#" download=""><svg><use href="#download-svg"></use></svg></a>
        </div>
    </article>
    </div>
    </main>
{{end}}